<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>金相组织智能识别v1</div>
    <p>
      目前，仅能对5种组织进行识别，识别准确度约为80%，还有很长的路要走。 <strong>S</strong> 回火索氏体, <strong>F+P</strong> 铁素体加珠光体, <strong>B</strong> 粒状贝氏体, <strong>B+PF</strong> 粒状贝氏体+多边铁素体,<strong>B+PF+P</strong> 粒状贝氏体+多变铁素体+珠光体
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
